<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Earth</key>
	<dict>
		<key>Rainbow</key>
		<string>earth5.jpg</string>
		<key>Green Hills</key>
		<string>earth4.jpg</string>
		<key>Roaring River</key>
		<string>earth3.jpg</string>
		<key>Valley Clouds</key>
		<string>earth2.jpg</string>
		<key>Sand Dune</key>
		<string>earth1.jpg</string>
	</dict>
	<key>Space</key>
	<dict>
		<key>Tree in the Night</key>
		<string>space6.jpg</string>
		<key>Big Blue</key>
		<string>space7.jpg</string>
		<key>Shuttle Launch</key>
		<string>space5.jpg</string>
		<key>Majestic Mountain</key>
		<string>space4.jpg</string>
		<key>Big Galaxies</key>
		<string>space3.jpg</string>
		<key>Cliff Space</key>
		<string>space2.jpg</string>
		<key>Galaxy Stars</key>
		<string>space1.jpg</string>
	</dict>
	<key>Climbing</key>
	<dict>
		<key>Reaching</key>
		<string>climbing4.jpg</string>
		<key>Fred Nicole</key>
		<string>climbing3.jpg</string>
		<key>Big Roof</key>
		<string>climbing2.jpg</string>
		<key>Crack Layback</key>
		<string>climbing1.jpg</string>
	</dict>
</dict>
</plist>
